<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>



    <main>
        <form class="product-form" action="/admin/product" method="POST">
            <div class="form-control">
                <label for="productName">productName</label>
                <input type="text" name="productName" id="productName">

            </div>

            <button type="submit">Add-Product</button>

        </form>


    </main>

    <%- include('includes/end.ejs') %>