extends layouts/main-layout.pug

block content 
    main
        if prods.length > 0
            .grid
                each product in prods 
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.productName}
                        div.card__content
                            h2.product_price Rs119 
                            p.product__description A very interesting mobile
                        .card__actions
                            button.btn Add to cart 
        else
            h1 No Products
            
    


